<main id="navbar">

  <div class="row">
    <div class="col-xl-8 col-md-8 col-12 bg" (click)="goTo('home')">
      <h1>Cosmonautas</h1>
      <span>By Cauê Francisco</span>
    </div>
  </div>

  <div class="login">
    <span [matTooltip]="'Entrar'" *ngIf="!isLogged" class="material-symbols-outlined" (click)="goTo('auth/login')">
      login
    </span>
    <span [matTooltip]="'Sair'" *ngIf="isLogged" class="material-symbols-outlined" (click)="logout()">
      logout
    </span>
  </div>

</main>