<main #navbar>
  <div class="row">
    <div class="col-xl-4 col-md-4 col-12 bg">
      <h1>Cosmonautas</h1>
      <span>By Cauê Francisco</span>
      <!-- <img src="assets/imgs/Cosmonautas-YT-Cover.png" alt=""> -->
    </div>
    <!-- 
    <div class="col-xl-4 col-md-4 col-12">

    </div>

    <div #nav class="col-xl-4 col-md-4 col-12 nav">
      <ul>
        <li>Contato</li>
        <li>Agenda</li>
        <li>Como Funciona?</li>
      </ul>
    </div> -->
  </div>
  <div *ngIf="!isLogged" class="login">
    <span class="material-symbols-outlined" (click)="goTo('auth/login')">
      login
    </span>
    <span class="material-symbols-outlined" (click)="goTo('create')">
      add
    </span>
  </div>
  <div *ngIf="isLogged" class="login">
    <span class="material-symbols-outlined" (click)="logout()">
      done
    </span>
  </div>
  <!-- <div class="login">
    <span class="material-symbols-outlined" (click)="logout()">
      add
    </span>
  </div> -->

</main>