<main #navbar>

  <div class="row">
    <div class="col-xl-8 col-md-8 col-12 bg">
      <h1>Cosmonautas</h1>
      <span>By Cauê Francisco</span>
    </div>
  </div>

  <div *ngIf="!isLogged" class="login">
    <span class="material-symbols-outlined" (click)="goTo('auth/login')">
      login
    </span>
    <span class="material-symbols-outlined" (click)="goTo('create')">
      add
    </span>
  </div>
  <div *ngIf="isLogged" class="login">
    <span class="material-symbols-outlined" (click)="logout()">
      done
    </span>
  </div>
  <!-- <div class="login">
    <span class="material-symbols-outlined" (click)="logout()">
      add
    </span>
  </div> -->

</main>