@import '/src/styles/main.scss';

.box{
  display: flex;
  flex-direction: column;
  width: 90vw;
  background-color: bisque;
  border-radius: 5px;
  border: 1px solid black;
  text-align: center;
  padding: 1rem;
  margin: 2vh 0;
}