<!-- <figure class="figure">
  <div class="about-card col-xl-12 col-md-12 col-12">
    <h1 class="title">Sobre</h1>
  </div>
</figure>

<section class="row about-container">
  <span class="material-symbols-outlined icon-cards">
    playing_cards
  </span>

</section> -->

<div class="main">
  <section class="row text-center">
    <div class="col-12">
      <iframe src="https://giphy.com/embed/tAeB6dptxnoli" width="480" height="446" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
      <p><a href="https://giphy.com/gifs/construction-tAeB6dptxnoli">via GIPHY</a></p>
      <p>Estamos em construção! Volte mais tarde :)</p>
    </div>
  </section>
</div>