<div class="d-flex justify-content-start back-container">
  <button mat-mini-fab
    matTooltip="Voltar"
    (click)="goTo('home')"
    class="back">
    <mat-icon>arrow_back</mat-icon>
  </button>
</div>


<figure class="figure">
  <div class="about-card col-xl-12 col-md-12 col-12">
    <h1 class="title">Sobre</h1>
  </div>
</figure>

<section class="row about-container">
  <span class="material-symbols-outlined icon-cards">
    playing_cards
  </span>

</section>

<section class="main-content-container">
  <div class="row about-inside-container">

    <div class="about-content col-xl-8 col-md-8 col-sm-8">
      <article class="about-text">
        <h1 class="mb-3 title-1"><span class="title-span">Cosmonautas Tarot</span> nasceu da paixão por simbologia, comportamento, auto-conhecimento, espiritualidade e misticismo </h1>
        <div class="img-about-container mb-3"></div>
        <p class="paragraph-1 mb-3">...Já os jogos de cartas não se sabe ao certo quando surgiram, mas há registros na China entre 618 AD e 907 AD. O Tarot, por sua vez, foi criado a partir de um misto de culturas e ganhou a forma que conhecemos hoje por volta de 1440, na Itália Renascentista. </p>
        <h1 class="mb-3">Tarot é uma ótima ferramenta de auto-conhecimento. Além disso, possibilita-nos analisar todos os aspectos da vida, seja no lado amoroso, profissional ou material. <span class="span-link" (click)="goTo('schedule')">Agende uma consulta</span></h1>
        <p><span class="span-emphasis">ATENÇÃO!</span> o Tarot <span class="span-emphasis">não vai</span> resolver a sua vida sozinho, ele vai lhe ajudar a entender como percorrer o caminho e quais transformações são necessárias para atingir seus objetivos. O tarot <em> não substitui de forma alguma nenhum tipo de acompanhamento médico de vertente psicológica ou psiquiátrica</em> e não se responsabiliza por suas escolhas pessoais.</p>
      </article>
    </div>
    <app-sidebar class="col-xl-4 col-md-4 col-sm-4"></app-sidebar>
  </div>
</section>