<div class="d-flex justify-content-start back-container">
  <button mat-mini-fab
    matTooltip="Voltar"
    (click)="goTo('home')"
    class="back">
    <mat-icon>arrow_back</mat-icon>
  </button>
</div>


<figure class="figure">
  <div class="about-card col-xl-12 col-md-12 col-12">
    <h1 class="title">Sobre</h1>
  </div>
</figure>

<section class="row about-container">
  <span class="material-symbols-outlined icon-cards">
    playing_cards
  </span>

</section>

<section class="main-content-container">
  <div class="row about-inside-container">

    <div class="about-content col-xl-8 col-md-8 col-sm-8">
      <article class="about-text">
        <h1 class="mb-3 title-1"><span class="title-span">Cosmonautas Tarot</span> nasceu da paixão por simbologia, comportamento, auto-conhecimento, espiritualidade e misticismo </h1>
        <div class="img-about-container mb-3"></div>
        <p class="paragraph-1 mb-3">...Já os jogos de cartas não se sabe ao bem quando surgiram, mas há registros de já existirem na China entre 618 AD e 907 AD. O Tarot foi criado a partir de um misto de culturas e ganhou a forma que conhecemos hoje por volta de 1440, na Itália Renascentista. </p>
        <h1>Um trabalho que começou de forma despretensiosa, logo se tornou uma obsessão. O desejo de expadir meu conhecimento no assunto, também trouxe a vontade de <span class="span-emphasis">compartilha-lo.</span></h1>
        <p>A melhor forma que encontrei de compartilhar meu conhecimento sobre os Arcanos e essa estrutura um tanto mística e simbólica do tarot, foi essa. <span class="span-emphasis">Escrevendo sobre</span>, <span class="span-emphasis">fazendo consultas particulares</span> sobre diversos temas e educando as pessoas, <span class="span-emphasis">desconstruindo a imagem negativa</span> que o tarot, infelizmente, ainda tem na sociedade, por conta de preconceitos, religião e até profissionais irresponsáveis que valorizam o lucro acima da ética.</p>
        <p class="text-center"><em>Se você se interessar, pode ler mais sobre no <span class="span-link" (click)="goTo('/blog')">blog</span></em></p>
      </article>
    </div>
    <app-sidebar class="col-xl-4 col-md-4 col-sm-4"></app-sidebar>
  </div>
</section>