<app-header-blog></app-header-blog>

<div class="d-flex justify-content-start back-container">
  <!-- <span class="material-symbols-outlined back" (click)="goBack()">
    arrow_back
  </span> -->

  <button mat-mini-fab
    matTooltip="Home"
    (click)="goBack()"
    class="back">
    <mat-icon>arrow_back</mat-icon>
  </button>
</div>

<section class="post-container">

  <div class="img-container mb-2" style="background-image: url({{data?.img||imgPost}});"></div>

  <div class="date">
    <span>{{data?.date | date: 'dd/MM/yyyy, h:mm:ss a'}}</span>
  </div>

  <div class="post-title">
    <h1 class="mb-2">{{data?.title}}</h1>
    <hr class="hr">
  </div>

  <div class="body-content">
    <article [innerHTML]="data?.text" class="body-text"></article>
  </div>

</section>

<hr class="hr">

<!-- <app-post-sample></app-post-sample> -->