<app-header-blog></app-header-blog>

<div class="d-flex justify-content-start ps-1">
  <span class="material-symbols-outlined" (click)="goBack()">
    arrow_back
  </span>
</div>

<section class="post-container">

  <div class="img-container mb-2" style="background-image: url({{data?.img||imgPost}});"></div>

  <div class="post-title">
    <h1 class="mb-2">{{data?.title}}</h1>
    <hr class="hr">
  </div>

  <div class="body-content">
    <article [innerHTML]="data?.text" class="body-text"></article>
  </div>

</section>

<hr class="hr">

<app-post-sample></app-post-sample>