<main>

  <div class="row sec-container">

    <section class="col-xl-6 col-md-6 col-12 schedule">

      <div class="text-schedule">
        <h1>Consultas</h1>
      </div>


    </section>

    <section class="col-xl-6 col-md-6 col-12 about mb-3">

      <div class="text-about">
        <h1>Sobre <span class="material-symbols-outlined">
            playing_cards
          </span></h1>
      </div>

    </section>

  </div>

  <div class="w-100 mt-4"></div>

  <div class="row sec-container">

    <section class="col-xl-12 col-md-12 col-12 article">
      <article>
        <h1>Hello!</h1>
      </article>
    </section>

  </div>

</main>