<main class="home-container">

  <div class="row sec-container">

    <section class="col-xl-6 col-md-6 col-12 schedule">

      <div class="text-schedule" (click)="goTo('schedule')">
        <h1>Consultas</h1>
      </div>

    </section>

    <section class="col-xl-6 col-md-6 col-12 about">

      <div class="text-about" (click)="goTo('about')">
        <h1>Sobre <span class="material-symbols-outlined">
            playing_cards
          </span></h1>
      </div>

    </section>

    <section class="col-xl-12 col-md-12 col-12 blog">
      <div class="text-blog" (click)="goTo('blog')">
        <h1>Blog</h1>
      </div>
    </section>

  </div>

</main>