<section class="row">

  <div class="row side-container">

    <div class="user-info mb-3 col-xl-12 col-md-12 col-12">
      <h1 class="py-2 title-side">Quem sou eu</h1>
      <div class="profile-pic"></div>

      <div class="user-details">
        <h2>Cauê Francisco</h2>
        <hr>
      </div>
      <p><em>Editor, redator & Tarólogo</em></p>

      <!-- <div class="search-bar">
        <mat-form-field appearance="fill">
          <mat-label>Search</mat-label>
          <input matInput placeholder="Placeholder">
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </div> -->

    </div>

    <div class="row mt-4 social-container col-xl-12 col-md-12 col-12">
      <h1 class="py-2 title-side">Cosmonautas Tarot nas redes</h1>
      <video class="video" src="/assets/videos/Intro.mp4" autoplay loop [muted]="true" type="video/mp4"></video>
      <p>Postamos consultas online, artigos, entre outros conteúdos!</p>
      <ul class="social-ul">
        <li><a target=”_blank” href="https://www.instagram.com/cosmonautstarot/"><img src="/assets/imgs/instagram.png" alt="instagram"></a></li>
        <li><a target=”_blank” href="https://www.youtube.com/channel/UCb9SPpNWgLnu-5urG7Sn3Bw"><img src="/assets/imgs/youtube.png" alt="youtube"></a></li>
      </ul>
    </div>

  </div>

</section>