<section>

  <div class="user-info">
    <div class="profile-pic"></div>

    <div class="user-details">
      <h2>Cauê Francisco</h2>
      <hr>
      <em>Editor, redator & muito mais.... :)</em>
    </div>

    <!-- <div class="search-bar">
      <mat-form-field appearance="fill">
        <mat-label>Search</mat-label>
        <input matInput placeholder="Placeholder">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div> -->

  </div>
  <div class="row">

  </div>
</section>