/* You can add global styles to this file, and also import other style files */
@import './styles/main.scss';
@import "../node_modules/bootstrap/scss/bootstrap";


html, 
body{
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Shadows Into Light', cursive, "Helvetica Neue", sans-serif;
}

.mat-h1, .mat-headline-5, .mat-typography .mat-h1, .mat-typography .mat-headline-5, .mat-typography h1 {
  font-family: 'Shadows Into Light', cursive, "Helvetica Neue", sans-serif;
  margin: 0;
}