/* You can add global styles to this file, and also import other style files */
@import './styles/main.scss';
@import "../node_modules/bootstrap/scss/bootstrap";

htm, body{
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, "Helvetica Neue", sans-serif;

}