@import '/src/styles/main.scss';

  .menu-header{
    width: 100%;
    border: 1px solid black;
    margin-top: 5vh;

    .menu-content{
      display: flex;
      justify-content: center;
      align-items: baseline;
      margin: 0 5vw;

      @media (max-width: 480px) {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        gap: 1vw;
        justify-content: space-evenly;
        list-style: none;
      }

      .hamburger{
        position: relative;
        /* z-index: -1; */
        left: -1000000px;

        @media (max-width: 480px) {
         position: static;
        }
      }

      ul{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1vw;
        justify-content: space-evenly;
        list-style: none;
      }
    }
    
  }