@import '/src/styles/main.scss';

  .menu-header{
    width: 100%;
    border: 1px solid black;
    margin-top: 5vh;

    .menu-content{
      display: flex;
      justify-content: center;
      align-items: baseline;
      margin: 0 5vw;

      ul{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1vw;
        justify-content: space-evenly;
        list-style: none;
      }
    }
    
  }